<div class="content">
  <h1>Statistics</h1>
  <mat-card>
      <google-chart id="chart"
                    [title]="title"
                    [type]="type"
                    [data]="data"
                    [columnNames]="columnNames"
                    [options]="options">
      </google-chart>
    <div class="stat-box">
      <div class="content-card-row">
        <div class="content-card-column">
          <i class="fas fa-clipboard-check fa-2x"></i>
          <h5>Problems solved </h5>
        </div>
        <div class="content-card-column-results">
          <h5>44</h5>
        </div>
        <div class="content-card-column">
            <i class="fas fa-comment-alt fa-2x"></i>
            <h5>Total chats</h5>
        </div>
        <div class="content-card-column-results">
          <h5>fdsfds</h5>
        </div>
      </div>

      <hr>
      <div class="content-card-row">
        <div class="content-card-column">
          <i class="fas fa-thumbs-up fa-2x"></i>
          <h5>Customer satisfaction</h5>
        </div>
        <div class="content-card-column-results">
          <h5>fdsfds</h5>
        </div>
        <div class="content-card-column">
          <i class="material-icons"> timer
            <div class="vert-line"></div>
          </i>
          <h5>Average chat duration</h5>
        </div>
        <div class="content-card-column-results">
          <h5>fdsfdsff</h5>
        </div>
      </div>

    </div>
  </mat-card>
</div>
