<mat-sidenav-container class="content" (window:beforeunload)="statusOffline()">
  <mat-sidenav class="employee-chat-list" opened mode="side">
    <div class="employee-chat-status">
      <div class="employee-chat-status-row"><span>Status:</span><span
        [ngStyle]="{'color': isOnline ? '#7FFF00' : '#FF0000'}"> {{status}}</span></div>

      <mat-divider></mat-divider>
      <div class="employee-chat-status-row">
        <button mat-mini-fab id="online" (click)="statusOnline()"></button>
        <button mat-mini-fab id="offline" (click)="statusOffline()"></button>
      </div>
    </div>
    <mat-divider></mat-divider>
    <h3 class="chat-label">{{ chatLabel }}</h3>

    <mat-nav-list>
      <div *ngFor="let chat of chats; let i = index">
      <a mat-list-item (click)="openChat(i)">
        <h3 class="chat-label"><span matBadge="&#8288;" matBadgeOverlap="false" matBadgeColor="warn" [matBadgeHidden]=" !chat.newMessages">{{chat.client.name + ' ' + chat.client.surname}} </span>
        </h3>
      </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <div class="employee-chat">
    <div class="employee-chatbox" [hidden]="isHidden">
      <mat-form-field>
        <input matInput class="chatbox-field" [(ngModel)]="content" (keydown.enter)="sendMessage()">
      </mat-form-field>
    </div>
    <div class="chat-messages">
      <div *ngFor="let message of currentChat.chat.messages">
        <mat-card class="chat-message" >
          <mat-card-title class="author">{{message.user.name}}</mat-card-title>
          <mat-card-content class="chat-message__content">{{message.content}}</mat-card-content>
          <mat-card-subtitle class="date" align="right">{{message.sent}}</mat-card-subtitle>
        </mat-card>
      </div>

    </div>
    </div>
</mat-sidenav-container>
