<mat-sidenav-container class="content">
  <mat-sidenav class="employee-chat-list" opened mode="side">
    <h3 class="chat-label">Klanten</h3>
    <mat-nav-list>
      <a mat-list-item>
        <h3 class="chat-label">customer.name</h3> <span class="unread-messages">3</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <div class="employee-chat">
    <div class="employee-chatbox">
      <mat-form-field>
        <textarea matInput [mat-autosize]="true"></textarea>
      </mat-form-field>
    </div>

    <div class="chat-messages">
      <div class="chat-message-row">
        <div class="chat-message"><span> message.content </span></div>
      </div>
      <div class="chat-message-row sent">
        <div class="chat-message"><span>message.content</span></div>
      </div><div class="chat-message-row sent">
      <div class="chat-message"><span>message.content</span></div>
    </div><div class="chat-message-row sent">
      <div class="chat-message"><span>message.content</span></div>
    </div><div class="chat-message-row sent">
      <div class="chat-message"><span>message.content</span></div>
    </div><div class="chat-message-row sent">
      <div class="chat-message"><span>message.content</span></div>
    </div><div class="chat-message-row sent">
      <div class="chat-message"><span>message.content</span></div>
    </div><div class="chat-message-row sent">
      <div class="chat-message"><span>message.content</span></div>
    </div><div class="chat-message-row sent">
      <div class="chat-message"><span>message.content</span></div>
    </div><div class="chat-message-row sent">
      <div class="chat-message"><span>message.content</span></div>
    </div><div class="chat-message-row sent">
      <div class="chat-message"><span>message.content</span></div>
    </div><div class="chat-message-row sent">
      <div class="chat-message"><span>message.content</span></div>
    </div><div class="chat-message-row sent">
      <div class="chat-message"><span>message.content</span></div>
    </div><div class="chat-message-row sent">
      <div class="chat-message"><span>message.content</span></div>
    </div>
  </div>
  </div>
</mat-sidenav-container>
