.content {
  position: absolute;
  left: 0;
  top: 25px;
  right: 0;
  bottom: 0;
}
.employee-chat-status{
  display: flex;
  flex-direction: column;
}
.employee-chat-status-row{
  padding: 5px;

}
.employee-chat-status-row span{
  color: #ffffff;
  font-weight: bold;
}
#online{
  background-color: #7FFF00;
  margin: 2px;
}

#offline{
  background-color: #FF0000;
  margin: 2px;
}

.employee-chat-list {
  background-image: linear-gradient(to top, #555353, #34322C);
  width: 200px;
}

.chat-label {
  margin: 5px;
  color: #EBEBEB;
}

mat-nav-list .mat-list-item {
  background-color: #262420;
}

mat-nav-list .mat-list-item:hover {
  background-color: #0D0D0D;
}

.unread-messages {
  color: #EE5100;
  font-weight: bold;
}

.employee-chat {
  background-color: #ffffff;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  overflow: hidden;
}

.employee-chatbox {
  height: 90px;
  background-color: white;
  border: 1px solid #D1D1D1;
  margin: 20px;
  border-radius: 10px;
}

.chat-messages {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  background-color: #EAEAEA;
}

.chat-message {
  margin: 10px;
}
.chat-message .author{
  font-size: 14px;
  font-weight: bold;
  color: #FF4A04;
}
.chat-message__content{
  font-size: 18px;
  color: #3A3A3A;
}
.chat-message .date{
  font-size: 8px;
}

.employee-customer-details {
  background-color: #F7F5F5;
  width: 350px;
}

mat-form-field {
  margin: 4px;
  width: 100%;
}

.chatbox-field{
  width: 100%;
  overflow-wrap: break-word
}

::ng-deep .mat-form-field-underline {
  display: none;
}
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-thumb {
  background: #D1D1D1;
  border-radius: 10px;
  height: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: #8B8B8B;
}
