<mat-sidenav-container class="content">
  <mat-sidenav class="employee-chat-list" opened mode="side">
    <h3 class="chat-label">{{ chatLabel }}</h3>
    <mat-nav-list>
      <a mat-list-item>
        <h3 class="chat-label">customer.name</h3> <span class="unread-messages">3</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <div class="employee-chat">
    <button mat-button (click)="sendMessage()">SEND</button>
    <div class="employee-chatbox">
      <mat-form-field>
        <input matInput class="chatbox-field" [(ngModel)]="content">
      </mat-form-field>
    </div>
      <div class="chat-messages">
        <div [class.sent]="sentMessage" *ngFor="let message of messages">
          <div class="chat-message">{{message.content}}</div>
        </div>
      </div>
  </div>
</mat-sidenav-container>
